# Azure
azure-storage-blob==12.3.2
azure-storage-file-datalake==12.0.2
azure-common==1.1.25

# Google Cloud Storage
gcsfs==0.7.2

# AWS S3
boto3==1.14.*
s3fs==0.4.2

# Google Big Query
pandas_gbq==0.14.0
